@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --colorA: #e4e4e4;
    --colorB: #f2f2f0;
    --colorHover: #22c55e;
    --colorText: #988d8d;
    --colorTextB: #a9a9a9;
    --colorSafe: #4ade80;
    --colorDanger: #f87171;
}

.dark {
    --colorA: #1F2E35;
    --colorB: #22343C;
    --colorHover: #22c55e;
    --colorText: #e2e2e2;
    --colorTextB: #919191;
    --colorSafe: #15803d;
    --colorDanger: #b91c1c;
}

.hoverLink {
    transition: all ease-in-out 500ms;
}

.hoverLink:hover {
    color: var(--colorHover);
}

body {
    font-family: var(--font-main);
    color: var(--colorText);
}

.container {
    margin-left: auto;
    margin-right: auto;
}

input {
    border: none;
    outline: none;
    background: none;
}



.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid var(--colorHover);
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader_dot {
    aspect-ratio: 4;
    --dot: #000;
    --_g: no-repeat radial-gradient(circle closest-side, var(--dot) 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}